



/* ↓↓ Project Page ↓↓ */

.allProjectsWrap{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  text-align: center;
}

.eachProjectWrap{
  background-color: black;
  color: rgb(161, 161, 161);
  padding: 2vh 1vw;
  margin: 2vh 1vw;
  max-width: 22vw;
}

.projectImg {
  max-width: 20vw;
}
