@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kenia&display=swap');


.pageTitle {
  font-family: 'Kenia', cursive;
  text-align: center;
  font-size: 4vw;
  color: rgb(161, 161, 161);
  padding: 0;
  margin-bottom: 0;
}

.pageDesc {
  font-family: 'Kenia', cursive;
  text-align: center;
  color: rgb(161, 161, 161);
  font-size: larger;
}



/* ↓↓ Navbar ↓↓ */
.navWrap {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  min-height: 5vh;
  padding: 0 2vw;
  border-bottom: 1px solid teal;
}

.navBarOptionText, .menuNavBarOptionText {
  color: white;
  text-decoration: none;
  padding: 0 1vw;
}

.menuNavBarOptionText{
  border-top: 1px solid teal;
  width: 100%;
  text-align: center;
  padding: 1vh;
}

.menuModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 5%;
  width: 100%;
  background-color: black;
  border: 1px solid teal;
}

.modalOverlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}


.navBarOptionText:hover {
  color: teal;
}

.menuIcon{
  max-height: 5vh;
  display: none;
  cursor: pointer;
}

/* ↓↓ Project Page ↓↓ */

.allProjectsWrap{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  text-align: center;
}

.eachProjectWrap{
  background-color: rgba(42, 42, 42, 0.70);
  color: rgb(161, 161, 161);
  padding: 2vh 2vw;
  margin: 2vh 1vw;
  max-width: 40vw;
  border-radius: 5px;
  border: 1px solid teal;
}

.projectImg {
  max-width: 35vw;
}
.descWrap {
  max-width: 35vw;
}

.pageDesc > a {
  color: rgb(161, 161, 161);;
}

.projGitHubLink {
  color: rgb(161, 161, 161);
}


/* ↓↓ Contact page ↓↓ */

.ContactPageWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactWrap{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(161, 161, 161);
  background-color: rgba(42, 42, 42, 0.397);
  height: 45vh;
  width: 80vw;
  border: 1px solid teal;
  margin-top: 10vh;
}
.contactWrap > a > img, .contactWrap > label > a > img, .contactWrap > label > img, .contactWrap > img {
  width: 15vw;
  margin-top: 5vh;
}



.contactWrap > label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactWrap > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(161, 161, 161);
  text-decoration: none;
} 

.nameCopyWrap {
  padding-top: 2vh;
  display: flex;
  align-items: center;
}
.nameCopyWrap > img {
  margin-left: 0.5vw;
}

.copyIcon{
  max-width: 1.8vw;
  cursor: pointer;
}

/* ↓↓ Home Page ↓↓ */

.constructionImg {
  max-width: 80vw;
  margin-left: 5vw;
}

/* ↓↓ About Page ↓↓ */

.aboutPageContents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutPagePWrap > p {
  color: white;
  margin: 0 5vw;
  padding: 0;
  max-width: 50vw;
  text-align: justify;
  font-size: x-large;
}
.aboutPagePWrap {
  display: flex;
  align-items: center;
  margin: 2vh 0;
}

.aboutPagePWrap > img {
  max-width: 25vw;
  max-height: 35vh;
  border: 1px solid teal;
}

.imgBackground {
  padding: 1vh 0.5vw;
  background-color: rgba(43, 40, 40, 0.483);
  border-radius: 5px;
}

.codenationLink{
  color: white;
}

.zviImg {
  max-width: 20vw;
  border-radius: 50%;
  margin-bottom: 2vh;
}

.lastText {
  color: white;
  margin: 0 5vw;
  padding: 0;
  max-width: 68vw;
  text-align: justify;
  font-size: x-large;
}

/* ↓↓ Screen width Sizing ↓↓ */

@media only screen and (max-width: 800px) {
  .navBarOptionText {
    display: none; 
  }
  .aboutPageContents > p {
    
    flex-direction: column;
    text-align: justify;
    min-width: 80vw;
    padding: 0;
    margin: 0;
  }

  .menuIcon{
    display: block;
  }

  .eachProjectWrap {
    max-width: 90vw;
  }
  .projectImg {
    max-width: 85vw;
  }
  .descWrap {
    max-width: 85vw;
  }

  .contactWrap{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 2vh;
  }

  .copyIcon{
    max-width: 4vw;
    cursor: pointer;
  }


}


